@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import './table.css';

body {
    font-family: 'Roboto', sans-serif;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 1px 2px;
    border: 1px solid #66C2A5;
    /* show thin separation */
    font-size: 10px !important;
}

.col-number {
    text-align: right !important;
}