strong, b {
    font-weight: bold; /* This is equivalent to 700 */
    color: #003399;
}

.css-75cauk .sidebar{
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 1px 2px;
    border: 1px solid #003399;
    /* show thin separation */
    font-size: 12px !important;
}
.col-number {
    text-align: right !important;
}

.content-block {
    background: #e5e5fa;
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1rem 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 
                0 1px 2px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(229, 231, 235, 0.8);
}
.side-bar {
    background: #dadaf8;
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1rem 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 
                0 1px 2px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(229, 231, 235, 0.8);
}
.vertical-line-border {
    border-right: 1px solid #021744;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-right: 1rem
}